Localization
{
    ru
    {
        #LOC_EEX_WarningVersion = Эта версия Editor Extensions Redux несовместима с текущей версией KSP
        #LOC_EEX_WarningVersionKSP = Версия KSP:
        #LOC_EEX_VABMode = Режим ЦВС
        #LOC_EEX_SPHMode = Режим Ангара
        #LOC_EEX_RerootIsActive = Перекомпоновка ВКЛ
        #LOC_EEX_RerootIsNotActive = Перекомпоновка ВЫКЛ
        #LOC_EEX_ZoomCameraOn = Зум камеры активен
        #LOC_EEX_DefaultCamera = Камера по-умолчанию
        #LOC_EEX_NoOffsetLimitIsActive = Смещение без ограничений ВКЛ
        #LOC_EEX_NoOffsetLimitIsNotActive = Смещение без ограничений ВЫКЛ
        #LOC_EEX_NoOffsetLimitWarning = Изменения вступят в силу после отмены выбора текущей детали
        #LOC_EEX_SnapPart = Деталь для фиксации углов:
        #LOC_EEX_SnapModeOff = Режим фиксации углов ВЫКЛ
        #LOC_EEX_SurfaceAttachmentFor = Поверхностное крепление <<1>> для <<2>>
        #LOC_EEX_Enabled = ВКЛ
        #LOC_EEX_Disabled = ВЫКЛ
        #LOC_EEX_Active = АКТИВНО
        #LOC_EEX_PartClipping = Несколько деталей на одном узле
        #LOC_EEX_EEXMenu = Меню EEX
        #LOC_EEX_ShowAngleSnaps = Показать углы фиксации
        #LOC_EEX_Settings = Настройки
        #LOC_EEX_FineAdjust = Точная корректировка детали
        #LOC_EEX_FineAdjustments = Точная корректировка детали
        #LOC_EEX_AdjustmentType = Тип корректировки:
        #LOC_EEX_Translation = Смещение
        #LOC_EEX_Rotation = Вращение
        #LOC_EEX_Amount = Величина:
        #LOC_EEX_Delta = Изменение:
        #LOC_EEX_CurrentPart = Текущая деталь:
        #LOC_EEX_None = нет
        #LOC_EEX_PositionDebug = Отладка позиции детали
        #LOC_EEX_AllowMassTweakables = Разрешить настройку масс
        #LOC_EEX_ResetModeAndSnapKeys = Сбросить режим симметрии и клавиши фиксации углов
        #LOC_EEX_ResetModeAndSnapKeysInfo = Режим симметрии и клавиши фиксации углов сброшены
        #LOC_EEX_MassTweakables = Настройка масс:
        #LOC_EEX_MassTweakablesAllRigid = Твердое соединение: Все
        #LOC_EEX_MassTweakablesAllRigidInfo = Твердое соединение ВКЛ для всех деталей текущего аппарата
        #LOC_EEX_MassTweakablesDisableRigid = Твердое соединение: Нет
        #LOC_EEX_MassTweakablesDisableRigidInfo = Твердое соединение ВЫКЛ для всех деталей текущего аппарата
        #LOC_EEX_MassTweakablesToggleRigid = Твердое соединение: Переключить
        #LOC_EEX_MassTweakablesToggleRigidInfo = Твердое соединение ПЕРЕКЛЮЧЕНО для всех деталей текущего аппарата
        #LOC_EEX_NoAutostruts = Автостяжки: Отключена
        #LOC_EEX_NoAutostrutsInfo = Автостяжки ВЫКЛ для всех деталей текущего аппарата (кроме принудительных)
        #LOC_EEX_AsGrandparent = Автостяжки: Через одну деталь
        #LOC_EEX_AsGrandparentInfo = Автостяжки в режиме "Через одну деталь" для всех деталей текущего аппарата (кроме принудительных)
        #LOC_EEX_AsHeaviest = Автостяжки: Массивная деталь
        #LOC_EEX_AsHeaviestInfo = Автостяжки в режиме "Массивная деталь" для всех деталей текущего аппарата (кроме принудительных)
        #LOC_EEX_AsRoot = Автостяжки: Базовая деталь
        #LOC_EEX_AsRootInfo = Автостяжки в режиме "Базовая деталь" для всех деталей текущего аппарата (кроме принудительных)
        #LOC_EEX_HideAutostruts = Скрыть автостяжки
        #LOC_EEX_ShowAutostruts = Показать автостяжки
        #LOC_EEX_ForumThread = Нажмите, чтобы открыть тему на форуме
        #LOC_EEX_Done = Готово
        #LOC_EEX_Close = Закрыть
        #LOC_EEX_Save = Сохранить
        #LOC_EEX_Defaults = По-умолчанию
        #LOC_EEX_Stock = Сток
        #LOC_EEX_SymmetryMethod = Режим симметрии:
        #LOC_EEX_SymmetryMethodMirror = Зеркальный
        #LOC_EEX_SymmetryMethodMirrorLetter = З
        #LOC_EEX_SymmetryMethodRadial = Радиальный
        #LOC_EEX_SymmetryMethodRadialLetter = Р
        #LOC_EEX_PartPositionInfo = Позиция детали
        #LOC_EEX_Type = Тип:
        #LOC_EEX_AttachedPart = Прикрепленная деталь:
        #LOC_EEX_NoPartSelected = Деталь не выбрана
        #LOC_EEX_SelectRootPart = Выберите новую деталь в качестве базовой
        #LOC_EEX_SettingsGeneral = Основные
        #LOC_EEX_SettingsKeys = Клавиши
        #LOC_EEX_SettingsAngleSnap = Фиксация углов
        #LOC_EEX_Version = Версия:
        #LOC_EEX_DebugBuild = Отладочная сборка
        #LOC_EEX_MessageDelay = Задержка сообщений:
        #LOC_EEX_MaxSymmetry = Максимальная симметрия:
        #LOC_EEX_RapidZoomInfo = Удерживать горячую клавишу масштабирования для быстрого изменения масштаба
        #LOC_EEX_ReRootEnabled = Перекомпоновка деталей
        #LOC_EEX_NoOffsetLimitEnabled = Смещение без ограничений
        #LOC_EEX_FineAdjustEnabled = Точная корректировка деталей
        #LOC_EEX_AngleSnapToggles = Фиксация углов + Переключатели мода
        #LOC_EEX_CycleSymmetryToggles = Режим симметрии + Переключатели мода
        #LOC_EEX_PressKeyTip = Для изменения выберете кнопку и нажмите любую клавишу
        #LOC_EEX_WaitingKeyTip = Ожидание нажатия клавиши
        #LOC_EEX_ResetTip = Сбросить клавиши режима симметрии и фиксации углов
        #LOC_EEX_SurfaceAttachment = Поверхностное крепление:
        #LOC_EEX_HorizontalCenterInEditor = Горизонтальный центр в редакторе:
        #LOC_EEX_VerticalSnap = Вертикальная привязка:
        #LOC_EEX_HorizontalSnap = Горизонтальная привязка:
        #LOC_EEX_StrutFuelAlign = Выравнивание стяжек/топлива:
        #LOC_EEX_ToggleReRoot = Переключить перекомпоновку:
        #LOC_EEX_ToggleNoOffsetLimit = Переключить смещение без ограничений:
        #LOC_EEX_ResetCamera = Сброс камеры:
        #LOC_EEX_ZoomSelected = Приблизить выбранную деталь:
        #LOC_EEX_FineAdjustKeys = Клавиши точной корректировки
        #LOC_EEX_Up = Вверх:
        #LOC_EEX_Down = Вниз:
        #LOC_EEX_Left = Влево:
        #LOC_EEX_Right = Вправо:
        #LOC_EEX_Forward = Вперед:
        #LOC_EEX_Back = Назад:
        #LOC_EEX_Remove = Удалить
        #LOC_EEX_AddAngle = Добавить угол:
        #LOC_EEX_Add = Добавить
        #LOC_EEX_AngleSnaps = Фиксация углов
        #LOC_EEX_EditorExtensions = Editor Extensions
        #LOC_EEX_VABInfo = Высота нижней части аппарата в ЦВС
        #LOC_EEX_SPHInfo = Высота нижней части аппарата в Ангаре
        #LOC_EEX_VABTip = В ЦВС высота нижней части аппарата изменяется при использовании функции "b" для регулировки положения
        #LOC_EEX_SPHTip = В Ангаре высота нижней части аппарата изменяется при использовании функции "b" для регулировки положения
        #LOC_EEX_Strutomatic = Стяжкотрон 9000
        #LOC_EEX_On = ВКЛ
        #LOC_EEX_Off = ВЫКЛ
        #LOC_EEX_PartHasNoSymmetry = Деталь не имеет симметрии:
        #LOC_EEX_RemovingSymmetry = Удаление симметрии...
    }
}
